/*$tabs-border-color: #8c8c8c*/
/* line 1, sass/_default.scss */
body {
  font-family: Tahoma, Arial, Sans-serif;
  color: #7d7d7d;
  font-size: 14px;
}

/* line 6, sass/_default.scss */
ul {
  list-style-type: none;
}

/* line 10, sass/_default.scss */
p {
  margin-top: 5px;
}

/* line 13, sass/_default.scss */
a {
  text-decoration: none;
}
/* line 15, sass/_default.scss */
a:visited {
  color: #2177c8;
}
/* line 18, sass/_default.scss */
a:hover {
  color: #2177c8;
  text-decoration: underline;
}

/* line 25, sass/_default.scss */
.accent-block {
  background-color: #efefef;
  border: 1px solid #e2e2e7;
}

/* line 28, sass/_default.scss */
h1, h2, h3 {
  color: #114d09;
  margin-bottom: 0;
  font-weight: lighter;
}

/* line 33, sass/_default.scss */
h1 {
  font-size: 24px;
}

/* line 36, sass/_default.scss */
h2 {
  font-size: 20px;
}

/* line 39, sass/_default.scss */
h3 {
  font-size: 16px;
}

/* line 42, sass/_default.scss */
img {
  border-style: none;
}

/* line 46, sass/_default.scss */
.clear {
  clear: both;
}


/* line 10, sass/_elements.scss */
.header-inverse {
  margin: 0;
  padding: 2px 5px;
  color: white;
  font-weight: bold;
  background-color: #545854;
}


/* line 23, sass/_elements.scss */
.float-container {
  overflow: hidden;
  *zoom: 1;
}


/* line 176, sass/_elements.scss */
.tooltip {
  display: none;
}

/* line 179, sass/_elements.scss */
.tooltip-large {
  background-color: #efefef;
  border: 1px solid #e2e2e7;
  padding: 10px;
}
/* line 182, sass/_elements.scss */
.tooltip-large h3 {
  margin: 0 0 10px 0;
}


/* line 1, sass/_layout.scss */
body {
  width: 1024px;
  background: white url("../images/header-background.jpg") repeat-x;
  margin: 0 auto;
}

/* line 7, sass/_layout.scss */
#page {
  min-width: 1024px;
}

/* line 10, sass/_layout.scss */
#header {
  width: 1024px;
  height: 150px;
}


/* line 36, sass/_layout.scss */
.interior {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}

/* line 40, sass/_layout.scss */
#left-column {
  float: left;
  width: 200px;
  padding-top: 13px;
  color: border-color-dark;
}

/* line 47, sass/_layout.scss */
#right-column {
  float: left;
  border-top: 1px solid #e1e0e0;
  width: 824px;
}

/* line 86, sass/_layout.scss */
#tier-content-col-left {
  float: left;
  width: 575px;
}

/* line 91, sass/_layout.scss */
#tier-content-col-right {
  float: right;
  width: 150px;
}



/* line 1, sass/_forms.scss */
button {
  cursor: pointer;
  color: #606160;
  background-color: #e2e2e7;
  border: 1px solid #41cff6;
}
/* line 6, sass/_forms.scss */
button:hover {
  border: 1px solid black;
}

/* line 1, sass/_map.scss */
#map {
  width: 500px;
  height: 600px;
  margin-bottom: 20px;
}

/* line 8, sass/_map.scss */
#tier-content-col-left.map {
  min-height: 150px;
}

/* line 13, sass/_map.scss */
#map-col-left {
  padding-top: 0;
  float: left;
  width: 500px;
  margin-right: 20px;
}

/* line 20, sass/_map.scss */
#map-col-right {
  float: left;
  width: 302px;
}

/* line 25, sass/_map.scss */
#map-thumb-container {
  width: 245px;
  height: 275px;
  overflow: hidden;
}

/* line 30, sass/_map.scss */
#map-thumb {
  width: 245px;
  height: 300px;
}

/* line 35, sass/_map.scss */
#map-historic {
  width: 325px;
  height: 400px;
}

/* line 40, sass/_map.scss */
#map-volcano {
  width: 500px;
  height: 500px;
}

/* line 46, sass/_map.scss */
.max-height {
  height: 100%;
  margin: 0;
}

/* line 51, sass/_map.scss */
.max-area {
  height: 100%;
  width: 100%;
}

/* line 56, sass/_map.scss */
#cross-section-image {
  display: none;
}

/* line 61, sass/_map.scss */
#plot-side-a {
  float: left;
  margin-left: 20px;
}

/* line 66, sass/_map.scss */
#plot-side-b {
  float: right;
}

/* line 70, sass/_map.scss */
#y-label {
  position: absolute;
  left: 5px;
  bottom: 0;
}

/*#eq-list li a {
  display:block;
}*/
/* line 78, sass/_map.scss */
#cross-section-plot, #cross-section {
  width: 400px;
  height: 300px;
}

/* line 82, sass/_map.scss */
#req-legend-scale {
  float: left;
  height: 120px;
  width: 320px;
  background: url("../images/map/req-legend-scale.jpg") no-repeat;
}

/* line 89, sass/_map.scss */
#req-legend-key {
  float: left;
  height: 105px;
  width: 180px;
  margin-top: 20px;
  background: url("../images/map/req-legend-key.png") no-repeat;
}
/* line 95, sass/_map.scss */
#req-legend-key.depth, #req-legend-key.noteable {
  background-position: 0px -110px;
}
/* line 98, sass/_map.scss */
#req-legend-key.historic {
  background-position: 0px -215px;
}

/* line 105, sass/_map.scss */
#map-ui {
  overflow: hidden;
  *zoom: 1;
  color: #606160;
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 110, sass/_map.scss */
#map-ui .label {
  margin-top: 10px;
  font-size: 16px;
}
/* line 114, sass/_map.scss */
#map-ui .radio-group {
  float: left;
}
/* line 117, sass/_map.scss */
#map-ui button {
  float: left;
  width: 90px;
  margin-top: 10px;
}
/* line 123, sass/_map.scss */
#map-ui .slider-control {
  padding: 0 26px 0 16px;
  margin-bottom: 20px;
  background: url("../images/slider_bg.jpg") no-repeat;
  background-position: 10px 20px;
}
/* line 128, sass/_map.scss */
#map-ui .slider-control.min3 {
  background-position: -82px 20px;
  padding: 0 120px 0 12px;
}
/* line 132, sass/_map.scss */
#map-ui .slider-control.min2 {
  background-position: -52px 20px;
  padding: 0 90px 0 12px;
}
/* line 136, sass/_map.scss */
#map-ui .slider-control .slider {
  padding: 0 26px 0 16px;
  position: relative;
  height: 50px;
}
/* line 141, sass/_map.scss */
#map-ui .slider-control .slider .ui-slider-handle {
  top: 20px;
  position: absolute;
  width: 9px;
  height: 37px;
  cursor: default;
  border: 1px solid #afadad;
  background: url("../images/slider_handle.jpg");
}

/* line 153, sass/_map.scss */
.change-units {
  font-size: 12px;
  height: 18px;
  position: relative;
}
/* line 157, sass/_map.scss */
.change-units a {
  position: absolute;
  top: 0;
}
/* line 160, sass/_map.scss */
.change-units a.time {
  left: 55px;
}
/* line 163, sass/_map.scss */
.change-units a.depth {
  left: 215px;
}

/* line 169, sass/_map.scss */
#cross-section-ui {
  overflow: hidden;
  *zoom: 1;
}

/*stolen fron jquery ui css*/
/* line 173, sass/_map.scss */
.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 179, sass/_map.scss */
.ui-button {
  display: block;
  position: relative;
  padding: 0;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  overflow: visible;
  float: left;
  margin-right: 5px;
  width: 60px;
  height: 25px;
  font-size: 12px;
}

/* line 193, sass/_map.scss */
.ui-button .ui-button-text {
  display: block;
  line-height: 1.4;
}

/* line 197, sass/_map.scss */
input.ui-button {
  padding: .4em 1em;
}

/* line 200, sass/_map.scss */
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -0.3em;
}

/* line 205, sass/_map.scss */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
/*  background: #e6e6e6 url(/jquery-ui-1.8.11.custom/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;*/
  /*  font-weight: normal; color: #555555; */
}

/* line 211, sass/_map.scss */
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #555555;
  text-decoration: none;
}

/* line 216, sass/_map.scss */
.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}

/* line 220, sass/_map.scss */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
/*  background: #dadada url(/jquery-ui-1.8.11.custom/css/smoothness/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;*/
  font-weight: normal;
  color: #212121;
}

/* line 221, sass/_map.scss */
.ui-state-hover a, .ui-state-hover a:hover {
  color: #212121;
  text-decoration: none;
}

/* line 222, sass/_map.scss */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  background: white url(/jquery-ui-1.8.11.custom/css/smoothness/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
}

/* line 223, sass/_map.scss */
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #212121;
  text-decoration: none;
}


/* line 1, sass/_tables.scss */
table.tablesorter {
  font-size: 12px;
  width: 290px;
  text-align: left;
  border-spacing: 0;
}

/*table.tablesorter tbody{
  height: 200px;
  overflow:auto;
  width:100%;
}*/
/* line 12, sass/_tables.scss */
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e1e0e0;
  border: 1px solid black;
  font-size: 8pt;
  padding: 4px;
}

/* line 18, sass/_tables.scss */
table.tablesorter thead th {
  min-width: 35px;
  background-image: url("../images/tablesorter/bg.gif");
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

/* line 25, sass/_tables.scss */
table.tablesorter #scroll-body tbody td {
  padding: 4px;
  vertical-align: top;
}

/* line 29, sass/_tables.scss */
table.tablesorter #scroll-body tbody tr.odd td {
  background-color: #F0F0F6;
}

/* line 32, sass/_tables.scss */
table.tablesorter thead tr .headerSortUp {
  background-image: url("../images/tablesorter/asc.gif");
}

/* line 35, sass/_tables.scss */
table.tablesorter thead tr .headerSortDown {
  background-image: url("../images/tablesorter/desc.gif");
}

/* line 38, sass/_tables.scss */
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
  background-color: #e2e2e7;
  border: 1px solid #41cff6;
}

/* line 43, sass/_tables.scss */
table.tablesorter tr.highlight-list {
  background-color: yellow;
}

/* line 49, sass/_tables.scss */
table.event_version td, table.event_attributes td {
  vertical-align: top;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 5px;
}
/* line 55, sass/_tables.scss */
table.event_version td.label, table.event_attributes td.label {
  text-align: right;
}
/* line 58, sass/_tables.scss */
table.event_version td.links, table.event_attributes td.links {
  text-align: center;
}

/* line 63, sass/_tables.scss */
table.event_attributes td.label {
  width: 195px;
}

/* line 67, sass/_tables.scss */
td.row-label a {
  padding-right: 10px;
}

/* line 70, sass/_tables.scss */
th.tip a {
  font-weight: normal;
}

/* line 75, sass/_tables.scss */
table.weekly-volcano-count th {
  text-align: left;
}
/* line 78, sass/_tables.scss */
table.weekly-volcano-count .elevated {
  font-weight: bold;
}

