/*Variables*/
:root {
  
/*Main color*/
  --brand-primary: #107a10; // green
/*Some accent colors*/
  --gray-darker: #222;
  --gray-dark: #333;
  --gray: #555;
  --gray-light: #bfbfbf;
  --gray-lighter: #eee;
  


} 

#page {
  position: relative;
  min-height: 580px;
}

.tooltip {
  display: none;
}

h2 {
  font-size:18px;
  text-overflow: ellipsis;
  background-color: var(--brand-primary);
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  height: 36px;
  padding: 9px 10px;
}

h2.gray {
  background-color: var(--gray);
}

h2 > a, h2 a {
  text-decoration: none;
  color: white;
}

h2 > a:hover, h2 a:hover {
  text-decoration: none;
}

.loading {
  width: 60px;
}

.list-inline li {
  display: inline;
}

#define-plot-area {
  display: block;
}

#map-ui.panel-group .panel.no-padding {
  border: none;
}

.no-padding, .no-padding > .panel-heading, .no-padding > .panel-body {
  padding: 0px;
}


.toggle-links a {
  display: inline-block;
  margin-right: 10px;
}

.line {
  display: block;
  overflow: hidden;
}


.timestamp {
  margin: 98px 5px 0 5px;
  float: left;
}


a.toggler.depth {
  width: 110px;
  text-align: right;
}


#event-summary-table td, #event-summary-table tr {
  border: none;
}


.highlight-list {
  background-color: var(--brand-primary) !important;
}


.popover-content {
  
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  
  word-break: break-all;
  
  word-break: break-word;
  
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.cms.tooltip-container {
  display: none;
}

map .popover {
  max-width: none;
  left: 50%;
  top: 0px !important;
}

map .popover td:empty {
  display: none;
}

#map-summary li.label, .gm-style-iw td.label{
  color: var(--gray-darker);
  font-size:inherit;
}

ul.no-decoration {
  list-style-type: none;
  padding: 0px;
}


.divider {
  height: 1px;
  margin: 3px 0;
  overflow: hidden;
  background-color: var(--gray-lighter);
}

.toggleable.off {
  display: none !important;
}


#map-thumb-container {
  height: 100%;
  overflow: hidden;
}

#map-container {
  height: 100%;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}
#map-container #map {
  width:100%;
  height:100%;
  position: absolute;
  top: 36px;
}

#map-thumb,
#historic-map-thumb {
  width: 100%;
  height: 100%;
}


#stations-legend-large {
  float: left;
  height: 120px;
  width: 500px;
  background: url("../images/map/stations-legend-large.png") no-repeat;
  background-position: 20px 10px;
}

#req-legend-scale {
  float: left;
  height: 120px;
  width: 260px;
  background: url("../images/map/eq-legend-scale.jpg") no-repeat;
}

#req-legend-key {
  float: left;
  height: 140px;
  width: 160px;
  margin-top: 10px;
  margin-left: 10px;
  background: url("../images/map/eq-legend-key.png") no-repeat;
}
#req-legend-key.depth, #req-legend-key.notable, #req-legend-key.historic.depth, #req-legend-key.volcano.depth, #req-legend-key.custom {
  background-position: 0px -150px;
}
#req-legend-key.historic {
  width: 160px;
  background-position: 0px -315px;
}
#req-legend-key.volcano {
  width: 100px;
  background-position: 0px -460px;
}
#req-legend-key.station {
  background: url("../images/map/stations-legend.png") no-repeat;
}
#req-legend-key.two-key {
  margin-left: 0;
}

#req-legend-key2 {
  float: left;
  margin-left: 10px;
  display: none;
  height: 140px;
  width: 100px;
}
#req-legend-key2.two-key {
  background: url("../images/map/stations-legend.png") no-repeat;
  background-position: 0px 20px;
  display: block;
}

#map-ui {
  color: #000;
}
#map-ui .label {
  margin: 5px 5px 0 0;
  font-size: 14px;
}
#map-ui .tip {
  font-weight: normal;
}
#map-ui .plot-chevron-up {
  display: none;
}
#map-ui #datepicker-start {
  width: 100px;
}
#map-ui #datepicker-end {
  width: 100px;
}
#map-ui .slider-control {
  padding: 0 26px 0 16px;
  margin-bottom: 20px;
  background: url("../images/map/slider_bg.jpg") no-repeat;
  background-position: 10px 20px;
}
#map-ui .slider-control.mag-range-8 {
  background-position: -25px 20px;
  padding: 0 60px 0 12px;
}
#map-ui .slider-control.mag-range-7 {
  background-position: -52px 20px;
  padding: 0 88px 0 12px;
}
#map-ui .slider-control.mag-range-6 {
  background-position: -82px 20px;
  padding: 0 120px 0 12px;
}
#map-ui .slider-control.mag-range-5 {
  background-position: -112px 20px;
  padding: 0 148px 0 12px;
}
#map-ui .slider-control.mag-range-4 {
  background-position: -139px 20px;
  padding: 0 176px 0 12px;
}
#map-ui .slider-control.mag-range-3 {
  background-position: -168px 20px;
  padding: 0 206px 0 12px;
}
#map-ui .slider-control.mag-range-2 {
  background-position: -196px 20px;
  padding: 0 232px 0 12px;
}
#map-ui .slider-control.mag-range-1 {
  background-position: -226px 20px;
  padding: 0 250px 0 12px;
}
#map-ui .slider-control.mag-range-0 {
  background-position: -256px 20px;
  padding: 0 280px 0 12px;
}
#map-ui .slider-control .slider {
  padding: 0 26px 0 16px;
  position: relative;
  height: 50px;
}
#map-ui .slider-control .slider .ui-slider-handle {
  top: 20px;
  position: absolute;
  width: 9px;
  height: 37px;
  cursor: default;
  border: 1px solid #afadad;
  background: url("../images/map/slider_handle.jpg");
}

#filter-options,
#station-search {
  padding: 10px;
}

#plot {
  display: none;
}

.modal-link h4 {
  margin: 5px;
}

#plot-ui {
  position: relative;
}
#plot-ui.open {
  margin-bottom: 10px;
}
#plot-ui h4.header {
  margin: 0;
}
#plot-ui #plot-ui-close {
  display: none;
  position: absolute;
  top: 25px;
  right: 10px;
}

.field.draw {
  margin-bottom: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.field.plot {
  margin-top: 10px;
}

.modal-content.ui-resizable {
  overflow: scroll;
}

.modal-dialog.ui-draggable {
  margin-left: auto;
  margin-right: auto;
}

#plot-instructions {
  height: 70px;
}
#plot-instructions ul {
  list-style-type: none;
  margin: 0 0 4px 0;
  padding: 0 0 0 4px;
}
#plot-instructions ul li {
  margin: 0;
}
#plot-instructions .steps {
  font-size: 12px;
}

#map-summary {
  background-color: var(--gray-light);
  overflow: auto;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 15;
  height: 36px;
  vertical-align: middle;
  margin-left: 0px;
}
#map-summary ul {
  line-height: 36px;
  margin-bottom: 0px;
  padding-left: 10px;
}
#map-summary #map-options .settings, #map-summary #map-options .full-screen {
  margin-right: 15px;
}
#map-summary #map-options .settings:hover, #map-summary #map-options .full-screen:hover {
  color: var(--brand-primary);
}
#map-summary #map-options .settings.inactive, #map-summary #map-options .full-screen.inactive {
  color: var(--gray-lighter);;
}
#map-summary #map-options #compress {
  display: none;
}

#map-control {
  width: 100%;
  padding: 0px;
  height: auto;
  overflow: hidden;
  position: 'fixed';
  top: 36;
  right: 0;
}
#map-control #map-ui {
  margin-bottom: 5px;
}
#map-control .panel {
  margin-bottom: 5px;
  margin-top: 0px;
}
#map-control a.map-settings-panel:hover {
  text-decoration: none;
}
#map-control a.map-settings-panel:hover h2 {
  color: #333;
}
#map-control #plot-ui {
  padding: 10px;
  margin: 0px;
}
#map-control .radio-group,
#map-control .checkbox {
  margin-left: 11px;
}
#map-control .plot-type .btn-group {
  width: 212px;
}
#map-control .plot-type .btn-group .btn {
  width: 105px;
  margin-left: 0.5px;
  margin-top: 1px;
}
#map-control #custom-search-panel {
  max-height: 500px;
  overflow: scroll;
}
#map-control #custom-search-panel .panel .panel-heading, #map-control #custom-search-panel .panel .panel-body {
  padding: 5px 5px;
}

#map-control,
#map-legend {
  border: 1px solid var(--gray-light);
  background: white;
}

#map-legend {
  overflow: hidden;
  width: auto;
  position: absolute;
  left: 20px;
  bottom: 10px;
  z-index: 10;
  height: 185px;
}

#historic-map-thumb {
  height: 315px !important;
}

.cross-section-viewer {
  display: none;
  box-shadow: 0 4px 8px 0 #555;
  -webkit-box-shadow: 0 4px 8px 0 #555;
  -moz-box-shadow: 0 4px 8px 0 #555;
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 80;
  background-color: white;
  border: 1px solid var(--gray-light);
  width: 980px;
}
.cross-section-viewer .logo img {
  height: 40px;
}
.cross-section-viewer .option {
  display: none;
}
.cross-section-viewer .viewer-header {
  color: #333;
  padding: 0px 10px 0px 10px;
  border-bottom: 1px solid var(--gray-light);
}
.cross-section-viewer .viewer-header .viewer-title .cross-section-title {
  display: inline;
}
.cross-section-viewer .viewer-header .viewer-title .close-viewer:hover {
  color: #107a10;
}
.cross-section-viewer .viewer-body {
  padding: 0px 10px;
}
.cross-section-viewer .viewer-body .top {
  margin-top: 10px;
  overflow: hidden;
}
.cross-section-viewer .viewer-body .bottom {
  min-height: 10px;
  position: relative;
}
.cross-section-viewer .viewer-body .bottom .plot-side-a {
  position: absolute;
  left: 20px;
}
.cross-section-viewer .viewer-body .bottom .plot-side-b {
  position: absolute;
  right: 20px;
}
.cross-section-viewer .viewer-body .bottom .y-label {
  position: absolute;
  bottom: -20px;
  z-index: 10;
}
.cross-section-viewer .viewer-body .select-plot {
  margin-top: 5px;
  min-height: 250px;
  height: 250px;
  width: 100%;
  min-width: 250px;
}

#mag-time .y-label {
  bottom: -10px;
}

#station-search .ui-helper-hidden-accessible {
  display: none;
}
#station-search input {
  width: 45%;
  border: 1px solid var(--gray-light);
}

.tooltip-icon:hover {
  text-decoration: none;
}

ul.ui-autocomplete {
  position: absolute;
  z-index: 1000 !important;
  background-color: white;
  border: 1px solid var(--gray-light);
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.ui-autocomplete li {
  width: 100%;
}
ul.ui-autocomplete li:hover {
  background-color: var(--gray-light);
}
ul.ui-autocomplete li a {
  color: #333;
  text-decoration: none;
}

.show-toggle {
  margin-right: 10px;
}

.show-month,
.show-recent {
  display: inline;
}

.show-month {
  display: none;
}

.dataTables_wrapper {
  margin: 0px 15px;
}

table.map-list {
  margin-bottom: 0px;
/*  width: 320px !important;*/
}
